[submodule "pack/itchyny/start/lightline.vim"]
	path = pack/itchyny/start/lightline.vim
	url = ../../itchyny/lightline.vim.git
	branch = master
[submodule "pack/inkarkat/start/vim-ReplaceWithRegister"]
	path = pack/inkarkat/start/vim-ReplaceWithRegister
	url = ../../inkarkat/vim-ReplaceWithRegister.git
	branch = master
[submodule "pack/tpope/start/vim-abolish"]
	path = pack/tpope/start/vim-abolish
	url = ../../tpope/vim-abolish.git
	branch = master
[submodule "pack/tpope/start/vim-fugitive"]
	path = pack/tpope/start/vim-fugitive
	url = ../../tpope/vim-fugitive.git
	branch = master
[submodule "pack/tpope/start/vim-surround"]
	path = pack/tpope/start/vim-surround
	url = ../../tpope/vim-surround.git
	branch = master
[submodule "pack/thinca/start/vim-visualstar"]
	path = pack/thinca/start/vim-visualstar
	url = ../../thinca/vim-visualstar.git
	branch = master
	ignore = untracked
